    .main{
        position: relative;
        margin: 0;
        padding: 0;
    }

    .navbar{
    position: fixed;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #6F6AF7;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1;
    }

    .link{
    margin-left: 350px;
    position: fixed;
    padding-top: 15px;
    height: 63px;
    width: 700px;
    /* left: 212px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 57px;
    color: #FFFFFF;
    }


    #home{
        text-decoration: none;
        color: #FFFFFF;
        padding-right: 20px;
    }


    #symbol{
        display: inline-block;
        transform: rotate(90deg);
    }


    .Dappr{
        /* dappr */
    position: fixed;
    /* width: 15px; */
    height: 63px;
    left: 30px;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 79px;
    color: #FFFFFF;
    }



    #search{
    margin-left: 1000px;
    position: fixed;
    width: 254px;
    height: 30px;
    /* left: 600px; */
    top: 20px;
    background: #FFFFFF;
    border-radius: 63px;
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #0c0c0c;
    padding-left: 15px;
    }


    ::placeholder{
        padding-left: 20px;
        font-family: DM Sans;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #9F9F9F;
        background: #FFFFFF;
    }


    #searchbar{
        position: fixed;
        left: 1240px;
        top: 25px;
        height: 25px;
    }


    #option-icon{
    position: fixed;
    left: 1400px;
    /* right: 3.07%; */
    top: 25px;
    /* bottom: 95.88%; */
    background: #FFFFFF;
    width: 29px;
    height: 23px;
    }   
                    /* End of navbar Sections */



                                /* Container 1 */ 
    .Container-1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    overflow-wrap: normal;
    width: fit-content;
    }
                
                    /* Container 1 left part */
    #image1{
        position: absolute;
        left: 70px;
        height: 457px;
        width: 300px;
        box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
        background: #E5D8FF;
        border: 6px solid #FFFFFF;
        box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

                    /*  Container 1 right part */
    #text-Field{
    position: absolute;
    width: 950px;
    height: 457px;
    left: 390px;
    background: #E5D8FF;
    border: 6px solid #FFFFFF;
    box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: flex-start;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 178.7%;
    color: #6F7373;
    }
    

                                /* End of Conatiner 1 */
                                /* conatiner 2 */
    .Container-2{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 1400px;
        margin-top: 35%;
        top: 50px;
       }

    .ractangle1{
        position: absolute;
        width: 190px;
        height: 90px;
        margin-left: 70px;
        background: #929DFF;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
        border-radius: 11px;
        }
        .text2{
            /* Total Question’s */
        position: absolute;
        width: 244px;
        height: 36px;
        left: 20px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 178.7%;
        letter-spacing: 0.04em;
        color: #ffffff;      
        }
        


        .ractangle2{ 
        position: absolute;
        width: 190px;
        height: 90px;
        margin-left: 430px;
        background: #734CF2;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
        border-radius: 11px;
        }
        .text3{
            /* Total Answers */
        position: absolute;
        width: 244px;
        height: 36px;
        left: 20px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 178.7%;
        /* or 52px */
        letter-spacing: 0.04em;
        color: #ffffff;
        }
        

        .ractangle3{
        position: absolute;
        width: 190px;
        height: 90px;
        margin-left: 790px;
        background: #D288FF;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
        border-radius: 11px;
        }
        .text4{
            /* Paricipated */
        position: absolute;
        width: 244px;
        height: 36px;
        left: 20px;    
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 178.7%;
        /* or 52px */
        letter-spacing: 0.04em;    
        color: #ffffff;
        }
        

    .ractangle4{     
        position: absolute;
        width: 190px;
        height: 90px;
        margin-left: 1155px;
        background: #000000;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
        border-radius: 11px;
        }
        .text5{
            /* Total Passed */
        position: absolute;
        width: 244px;
        height: 36px;
        left: 20px;  
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 178.7%;
        letter-spacing: 0.04em;
                color: #ffffff;
        }
                                    /* End of Container 2 */

                                        /* Container 3 */
    .Container-3{
        position: relative;
        display: flex;
        width: 1280px;
        flex-wrap: wrap;
        height: 517px;
        left: 70px;
        top: 200px;
        background: #483EFF;
        border-radius: 19px;
        bottom: 100px;
    }
                            
                                /* Container 3 left part */
    .block-1{
        position: relative;
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
    }
    #button1{
        /* Your Info */
    position: absolute;
    width: 297px;
    height: 100px;
    left: 70px;
    top: 60px;
    background: #BCE0F6;
    box-shadow: 0px 16px 25px rgb(0,0,0.2);
    border-radius: 22px;
    border-style: solid;
    border-color: #BCE0F6;
    font-family: DM Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.04em;
    text-align: center;
    } 

    #button2{
        /* Bookmarks*/
    position: absolute;
    width: 297px;
    height: 100px;
    left: 70px;
    top: 220px;
    background: #483EFF;
    border-radius: 22px;
    border-color: white;
    border-style: solid;
    font-family: DM Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    }

    #button3{
        /* Settings */
    position: absolute;
    width: 297px;
    height: 100px;
    left: 70px;
    top: 380px;
    background: #483EFF;
    border-radius: 22px;
    border-color: white;
    border-style: solid;
    font-family: DM Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    }


    /* Container 3 Right Part */
    .block-2{
        position: absolute;
        width: 850px;
        height: 450px;
        top: 39px;
        /* left: 410px; */
        margin-left: 410px;
        background: #FFFFFF;
        background: #FFFFFF;
        border-radius: 19px;
    }
    #heading1{
        /* Your Information */
        font-family: Inter;
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0.105em;
        padding-left: 50px;
        padding-top:40px;
        text-align: left; 
    }


    .NameInfo{
        /* Name */
        padding-top: 10px;
        padding-left: 80px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.105em;
        color: #04285A;
    }
    #name{
        /* Atul Singhal */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #143565;
    }
    .EmailInfo{
        /* Email */
        padding-top: 10px;
    padding-left: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #04285A;
    }
    #email{
        /* atul@gmail.com */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #143565;
    }

    .PhoneInfo{
        /* Phone */
        padding-top: 10px;
        padding-left: 80px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.105em;
        color: #04285A;
        }
    #phone{
        /* +91 8131424888 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #143565;
    }


    .MarkInfo{
        /* marks */
        padding-top: 10px;
        padding-left: 80px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.105em;
        color: #04285A;
        }
    #marks{
        /* 500 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #143565;
    }


    .Next-Button{
    position: absolute;
    left: 83%;
    top: 88%;
    }  
    #next{
        /* Next button */
    width: 107px;
    height: 38px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: center;
    background: #000000;
    border-radius: 9px;
    color: #FFFFFF;
    }
                                    /* End of Container 3 */
                                    /* Support Icon  */
    .support{
        top: 90%;
        left: 1260px;
        z-index: 1;
        position: fixed;
    }
    #support{
        position: absolute;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 4px 15px 35px rgba(0, 0, 0, 0.25);
    }
                                    /* End of Support  */

    
                                    /* Social Media  */

    .social-media-position{
            position: -webkit-sticky;
            position: sticky;
            top:10%;
            /* position: fixed; */
            left: 97%;
        }                             
    .social-media{
        /* position: sticky; */
        top:10%;
        float: right;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position:-webkit-sticky;
        position: sticky;        
    }
          
    /* Whatsapp */
    .Whatapp {
    margin-top: 90%;
    border-color: #000000;
    border-style: solid;
    width: 40px;
    border-radius: 20%;
    }
    #wp{
        border-radius: 10%;
        height: 35px;
        padding:2px;
    }

                            /* Facebook */

    .facebook {
        margin-top: 5%;
        border-color: #000000;
        border-style: solid;
        width: 40px;
        border-radius: 20%;               
        }
        #fb{
            border-radius: 10%;
            height: 35px;
            padding:2px;
        }

                        /* Twitter */
        .twitter {
            margin-top: 5%;
            border-color: #000000;
            border-style: solid;
            width: 40px;
            border-radius: 20%;           
            }
            #X{
                border-radius: 10%;
                height: 35px;
                padding:2px;
            }
    


    .space{
        margin-top: 17%;
    }